* {
      box-sizing: border-box;
}

body {
      margin: 0;
}

header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: lightblue;
      gap: 10px;
      
}

nav {
      gap: 10px;
}

.logo {
      height: 50px;
}