@font-face {
    font-family: 'GrapeNuts';
    src: url(GrapeNuts-Regular.ttf) format('truetype');
}

h1{
font-family: 'Honk', system-ui;
font-size: 60px ;
text-align: center;
}

#intro{
    font-size: 40px;
    text-decoration:overline underline wavy;
    text-shadow: 10px 10px 20px;
}
#intro:hover{
    text-decoration:overline underline wavy red;
}

p:not(#intro){
    font-family: 'GrapeNuts', sans-serif;
    font-size: 30px;
}

body
{
    width: 1280px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

span
{
    display: block;
    transform: rotate(12deg);
}