*,
*::before,
*::after {
      box-sizing: border-box;
}

:root {
      --color-main: hsl(14, 45%, 36%);
      --color-preparation: hsl(332, 51%, 32%);
      --color-preparation-bg: hsl(330, 100%, 98%);
      --color-text: hsl(24, 5%, 18%);
      --color-text-emphasis: hsl(30, 10%, 34%);
      --color-body-bg: hsl(30, 54%, 90%);
      --font-size-md: 20px;
}

@font-face {
      font-family: 'OpenDys';
      src: url(../OpenDyslexicMono-Regular.otf);
}

body {
      background-color: var(--color-body-bg);
      font-family: 'Outfit';
      font-size: var(--font-size-md);
      color: var(--color-text);
      margin: 0;
}

body.dys {
      font-family: 'OpenDys';
}

.buttonAccess {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      color: black;
      background-color: var(--color-body-bg);
      text-decoration: underline;
      cursor: pointer;
}

.buttonAccess:hover {
      color: rgb(90, 90, 90);
}


.bigContainer {
      display: flex;
      justify-content: center;
      align-items: center;
}

.container {
      background-color: white;
      width: 960px;
      margin: 150px;
      padding: 50px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
}

/* Contenu */

img {
      width: 100%;
      border-radius: 15px;
}

h1,
h2 {
      font-family: 'Young Serif';
      font-size: 50px;
}


h2 {
      font-size: 40px;
      color: var(--color-main);
}

h1.dys {
      font-family: 'OpenDys';
}

h2.dys {
      font-family: 'OpenDys';
}

.preparation {
      background: var(--color-preparation-bg);
      border-radius: 15px;
      padding: 25px;
}

.preparation>* {
      margin: 10px 0 10px 0;
}

.preparationtxt {
      font-size: 25px;
      font-weight: 700;
      color: var(--color-preparation);
}

li::marker {
      color: var(--color-main);
      font-weight: bold;
}

em {
      font-weight: 700;
      font-style: normal;
}

span {
      font-weight: 700;
      color: var(--color-main);
      text-align: end;
}

hr {
      color: var(--color-text-emphasis);
}